html,
body,
section,
div,
ul,
ol,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    box-sizing: border-box;
}


.title-label {
    position: relative;
    padding-left: 8px;
}

.title-label:before {
    position: absolute;
    display: block;
    left: 0;
    width: 4px;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 2px;
    content: '';
    background-color: #1677ff;
}